<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootify</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./js/main.js"></script>
</head>

<body>
    <header class="text-start p-3">
        <div class="logo-container">
            <img class="logo-image" src="./assets/logo.png" alt="logo">
        </div>
    </header>
    <main id="vueApp">
        <div class="container shell" v-if="cdArray.length>0">
            <div class="row justify-content-center py-4">
                <div class="col" v-for="(element,key) in filtersObject">
                    <label class=" d-block text-white" for="key">{{key}}</label>
                    <select class="w-100" :name="key" :id="key+'-filter'">
                        <option value="">no filter</option>
                        <option v-for="value in filtersObject[key]" :value="value">{{value}}</option>

                    </select>
                </div>
                <div class="col">
                    <div class="btn btn-primary w-100">filter</div>
                </div>
            </div>
            <div class="row row-cols-5 g-5">
                <div class="col" v-for="album in cdArray">
                    <div class="cd-card">
                        <img class="cd-card-img w-100" :src="album.poster" :alt="`${album.title} cover`">
                        <h3 class="cd-card-title">
                            {{album.title}}
                        </h3>
                        <p class="cd-card-name">
                            {{album.author}}
                        </p>
                        <p class="cd-card-year">
                            {{album.year}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>